<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>
<%  DPCJLANDES = [] %>
<%  ICHNAS = [] %>

<section class="courses-container container">
  <h2 class="course-tittle">CURSOS CAJA LOS ANDES</h2>
  <section class="highlighted-courses">
    % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
    <section class="courses">
      <ul class="courses-listing">
            ## limiting the course number by using HOMEPAGE_COURSE_MAX as the maximum number of courses
            %for course in courses[:homepage_course_max]:
              % if 'DPCJLANDES' in course.org:
                <%  DPCJLANDES.append(course) %>
              % else:
                % if 'ICHNAS' in course.display_number_with_default:
                    <%  ICHNAS.append(course) %>
                % else:
                <li class="courses-listing-item">
                    <%include file="course.html" args="course=course" />
                </li>
                % endif
              % endif
          %endfor
        </ul>
    </section>
      ## in case there are courses that are not shown on the homepage, a 'View all Courses' link should appear
      % if homepage_course_max and len(courses) > homepage_course_max:
        <div class="courses-more">
          <a class="courses-more-cta" href="${marketing_link('COURSES')}"> ${_("View all Courses")} </a>
        </div>
      % endif
    % endif
  </section>
    % if len(ICHNAS) > 0:
    <h2 class="course-tittle" style="background: #002d5d;">CURSOS NORTEAMERICANO</h2>
    <section class="highlighted-courses">
      <section class="courses">
        <ul class="courses-listing">
            ## limiting the course number by using HOMEPAGE_COURSE_MAX as the maximum number of courses
            %for course in ICHNAS:
              <li class="courses-listing-item">
                  <%include file="course.html" args="course=course" />
              </li>
            %endfor
          </ul>
      </section>
    </section>
    % endif
    % if len(DPCJLANDES) > 0:
    <h2 class="course-tittle" >Diplomados Caja Los Andes</h2>
    <section class="highlighted-courses">
      <section class="courses">
        <ul class="courses-listing">
            ## limiting the course number by using HOMEPAGE_COURSE_MAX as the maximum number of courses
            %for course in DPCJLANDES:
              <li class="courses-listing-item">
                  <%include file="course.html" args="course=course" />
              </li>
            %endfor
          </ul>
      </section>
    </section>
    % endif
</section>